body{
    background-color: gold;
}
{
    color: blue;
    font-size: 32px;
    border:2px
}
  
    background-color:
    border-radius: 5px;
{

 ac{
    color: white;
    background-color: blue;
    border: 29px;

 }   

}
{
    menu li{
        
    }
}